.details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  gap: 3rem;

  color: #efefef;
  margin: 5rem 0rem;
}

.details__image img {
  width: 100%;
  object-fit: contain;
}

.details__info {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.details__infoColumn--title {
  font-size: 1.5rem;
  font-weight: 700;
}

.details__infoColumn--content {
  margin-left: 1rem;
}

@media only screen and (max-width: 768px) {
  .details {
    flex-direction: column;
    margin: 2rem 2rem 5rem;;
  }
}